#flagsGame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.blur {
    filter: blur(2px);
}

#flagsGameContainer {
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.genericHeader {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    margin: 20px 40px;
    font-size: 40px;
    font-weight: bold;
}

#flagsGameLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gridContainer {
    display: grid;
    height: 600px;
    width: 800px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.gridButton {
    height: 100px;
    width: 120px;
    justify-self: center;
    align-self: center;
}

.gridButtonWrongAnimation {
    animation: shake 0.2s;
    background-color: #ffcccc;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    75% {
        transform: translateX(-2px);
    }
}

.gridButton:hover {
    box-shadow: 2px 2px 20px gray;
}

.gridButton img {
    width: 80px;
    max-height: 80px;
}

.gridButtonMatched {
    background-color: rgb(250, 250, 250);
}

.gridButtonMatched:hover {
    box-shadow: 4px 4px 6px lightgray;
}

.gridButtonMatched img {
    opacity: 0.15;
}

#countryNameDiv {
    margin: 30px;
}

.mainParagraph {
    font-size: 28px;
}

.secondaryParagraph {
    font-size: 20px;
}

.hiddenElement {
    display: none;
}

.flexVisibleElement {
    display: flex;
}

#endGamePanel {
    font-weight: bold;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 2px 2px 20px gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 28px;
}

.smallButton {
    height: 60px;
    width: 32%;
    font-weight: bold;
    box-shadow: 1px 1px 8px gray;
}

.smallButton:hover {
    box-shadow: 1px 1px 16px gray;
}

@media screen and (max-width: 800px) {
    #flagsGameContainer {
        width: 360px;
    }

    #flagsGameLayout {
        margin-top: 0px;
    }

    .genericHeader {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #gridContainer {
        display: grid;
        height: 400px;
        width: 360px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .gridButton {
        height: 70px;
        width: 65px;
    }

    .gridButton img {
        width: 55px;
        max-height: 60px;
    }

    #countryNameDiv {
        margin: 20px;
    }
}

@media (max-height: 800px) {
    #countryName {
        margin: 0px;
    }

    #countryNameDiv{
        margin: 10px;
    }

    .mainMenuButtonStyle{
        margin: 10px;
    }

    .score{
        margin: 5px 10px;
    }
}